@use '../../assets/styles/variables' as vars;

.box-with-header {
    margin: 20px auto 0;
    background-color: vars.$secondary-color;
    border-radius: 10px 10px 0 0;
}

.box-with-header__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: vars.$accent-color;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: vars.$main-color;
}

.hidden {
    display: none;
}
